[submodule "mysql-slave"]
	path = mysql-slave
	url = https://github.com/kanimozhikarunakarangk/mysql-slave.git
[submodule "datavicloud"]
	path = datavicloud
	url = https://github.com/kanimozhikarunakarangk/datavicloud.git
